:root {
  /* Couleurs primaires */
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(to bottom, hsl(192, 100%, 67%) 65%, hsl(280, 87%, 65%));


  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
  --bg-task: white;
  --white: white;
  --black: black;
  --task-hover: hsl(280, 87%, 65%);
}

.dark {
--Very-Light-Grayish-Blue: hsl(235, 21%, 11%);
--bg-task: hsl(235, 24%, 19%);
--white: black;
--black: white;
--Light-Grayish-Blue: hsl(237, 49%, 49%);
}

body{
  background: var(--Very-Light-Grayish-Blue);
}

.header{
  height: 300px;
  background-image: url('../../../public/images/bg-desktop-light.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dark .header{
  background-image: url(../../../public/images/bg-desktop-dark.jpg);
}


.todo{
  width: 40%;
  position: absolute;
  top: 8%;
  left: 30%;
  padding-bottom: 70px;
}

.entete{
  display: flex;
  justify-content: space-between;
  color: white;
}

h3{
  letter-spacing: 20px;
  font-weight: bold;
}


form {
  width: 100%;
  padding: 20px 30px;
  transition: .1s;
  margin: 30px 0px 50px 0px;
  background-color: var(--bg-task);
  color: var(--Light-Grayish-Blue);
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.form input {
  border: none;
  margin-left: 15px;
  font-weight: 500;
}

.Btn {
  padding: 15px 30px;
  transition: .1s;
  background-color: var(--bg-task);
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.Btn-element-3{
  display: none;
}
.info{
  margin-top: 50px;
  text-align: center;
  color: var(--Dark-Grayish-Blue);
  font-weight: bold;
}

button{
  margin-left: 30px;
  border: none;
  background-color: var(--bg-task);
  color: var(--Dark-Grayish-Blue);
}

button:focus, button:hover{
  color: var(--Bright-Blue);
}

.dark  button:hover{
  color: white;
}

/* Dark mode */
.dark-mode{
  margin-right: 25px;
}

/* Responsive */

@media screen and (max-width: 768px) {
  .todo{
    left: 5%;
    width: 90%;
  }

  .header{
    background-image: url(../../../public/images/bg-mobile-light.jpg);
  }

  .dark .header{
    background-image: url(../../../public/images/bg-mobile-dark.jpg);
  }

  .header {
    height: 200px;
  }

  form{
    padding: 15px 30px;
    margin: 20px 0px 15px 0px;
  }
  

  .todo{
    top: 3%;
  }

  .Btn-element-2{
    display: none;
  }

  .Btn-element-3{
    margin-top: 30px;
    padding: 15px 30px;
    transition: .1s;
    background-color: var(--bg-task);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  }

  .info{
    margin-top: 25px;
  }
}